<style>
    footer{
                {% comment %} background-color: #051d6b;  {% endcomment %}
                background-color:#fcfaee;
                color: black; 
                position: fixed;
                padding-top: 10px;
                padding: 5px 10px; 
                margin: 0; 
                position: relative;
                display: flex;
                flex-direction: column;
                bottom: 0;
                left: 0;
                left: 0; 
                width: 100%;
                font-size: 10px;"}
    h3 .custom{
        border:1px white solid;
        border-radius:8px;
        color:black;
        text-align:center;
        width:100%;
    }

</style>
<footer>
    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
        <div style="margin-left: 30px;">
            <h3 class='custom' style='color:black;font-family:Montserat'>Address</h3>
            <p>Địa chỉ: Xa lộ Hà Nội, Phường Linh Trung,<br>
                Quận Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
            <p>Email: <a href="mailto:anhthan@coca-cola.com" style="color: #f39018;">anhthan@coca-cola.com</a></p>
            <p>Hotline: 1900 5555 84</p>
        </div>

        <div style="margin:center">
            <h3 class='custom' style='color:black;font-family:Montserat'>About us</h3>
            <p>Địa chỉ: Xa lộ Hà Nội, Phường Linh Trung,<br>
                Quận Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
            <p>Email: <a href="mailto:anhthan@coca-cola.com" style="color: #f39018;">anhthan@coca-cola.com</a></p>
            <p>Hotline: 1900 5555 84</p>
        </div>

        <div style="margin-right: 40px;">
            <h3 class='custom' style='color:black;font-family:Montserat'>Contact</h3>
            <p>Địa chỉ: Xa lộ Hà Nội, Phường Linh Trung,<br>
                Quận Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
            <p>Email: <a href="mailto:anhthan@coca-cola.com" style="color: #f39018;">anhthan@coca-cola.com</a></p>
            <p>Hotline: 1900 5555 84</p>
        </div>
    </div>
</footer>